<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="17862707352@163.com">
                <network defaultCredentials="false" host="smtp.163.com" password="haorong3250" userName="17862707352@163.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
